<div class="header" [ngClass]="selectedTheme">
    <div>
        <h1>EHNOTE</h1>
    </div>
    <nav class="header-nav">
        <ul>
            <li>
                <a routerLink="/">Home</a>
            </li>
            <li>
                <a routerLink="/about-us">About-us</a>
            </li>
            <li>
                <a routerLink="/contact-us">Contact-us</a>
            </li>
            <li>
                <a routerLink="/services"> Services</a>
            </li>
            <li>
                <a routerLink="/register">Register</a>
            </li>
            <li>
                <a routerLink="/login">login</a>
            </li>
            <li>
                <div class="cart">                   
               
                    <a routerLink="/cart">Cart({{data.length}})</a>                   
                 
                </div>
            </li>
            <li>
                <label for="themeSelect">Theme:</label>
                <select id="themeSelect" [(ngModel)]="selectedTheme">
                    <option *ngFor="let theme of themes" [value]="theme">{{ theme.replace('app-', '').toUpperCase() }}
                    </option>
                </select>
            </li>
        </ul>
    </nav>
</div>
