.pagination{
    margin-left:33%;;
    margin-bottom: 10px;
   
}
button{
    margin-left: 10px;
    padding:5px 10px;
     background: rgb(237, 240, 240);
    border:none;
    border-radius: 5px;
    //background: linear-gradient(120deg, rgb(255, 0, 144), rgb(0, 255, 213) 55%, rgb(0, 222, 255), rgb(0, 222, 255) 45%);
}